<nav>
    <a href="/">Home</a>
    <a href="/artists">Artists</a>
    <a href="/vendors">Vendors</a>
    <a href="/concerts">Concerts</a>
    <a href="/tours">Tours</a>
    <a href="/artistConcert">Artists Performing At Concerts</a>
    <a href="/concertVendor">Vendors Available At Concerts</a>
</nav>