<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ANL-Live</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<nav>
    <a href="/">Home</a>
    <a href="/artists">Artists</a>
    <a href="/vendors">Vendors</a>
    <a href="/tours">Tours</a>
    <a href="/concerts">Concerts</a>
    <a href="/artistConcert">Artists Performing At Concerts</a>
    <a href="/concertVendor">Vendors Available At Concerts</a>
</nav>

<body>

    {{{body}}}
</body>
</html>