<div class="container">
    <h2>List of Artists performing at a Concert</h2>
        <table>
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
        
            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{ this.artistConcertID }}</td>
                        <td>{{ this.artistID }}</td>
                        <td>{{ this.concertID }}</td>
                        <td><a href="/artists">Edit</a></td>
                        <td><a href="/artists">Delete</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <!-- Add Form -->
        <h3>Add an Artist performing at a Concert</h3>
        <p>To add a new artist performing at a concert, please enter the artists' name and concert location below then click 'Add Artist performing at a Concert' !</p>
        <form id="add-artist-to-concert-form" action="/add-artist-to-concert-form" method="POST">
            <label for="artistName">ArtistName Performing at a Concert:</label>
            <input type="text" id="artistName" name="artistName" placeholder="Enter Artists' Name: " required><br>

            <label for="concertLocation">Concert Location (Zip-Code):</label>
            <input type="number" id="concertLocation" name="concertLocation" placeholder="Enter Concert Location: " required><br>

            <input type="submit" value="Add Artist Performing at a Concert">
        </form>
    </div>
