<div class="container">
    <h2>List of Artists</h2>
    <table id="artist-table">
        <thead>
            <tr>
                <th>Artist ID</th>
                <th>Artist Name</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr data-id="{{this.artistID}}">
                    <td>{{this.artistID}}</td>
                    <td>{{this.artistName}}</td>
                    <td><a href="/artists/{{this.artistID}}/edit">Edit</a></td>
                    <td><a href="#" class="delete-btn">Delete</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <!-- Add Form -->
    <h3>Add Artist</h3>
    <form id="add-artist-form" action="/add-artist-form" method="POST">
        <label for="artistName">Artist Name:</label>
        <input type="text" id="artistName" name="artistName" placeholder="Enter artist name" required><br>
        <input type="submit" value="Add Artist">
    </form>
</div>

<script>
//Artists Delete
document.addEventListener("DOMContentLoaded", () => {
    const deleteButtons = document.querySelectorAll(".delete-btn");

    deleteButtons.forEach(button => {
        button.addEventListener("click", async function (event) {
            event.preventDefault();

            const row = button.closest("tr");
            const artistId = row.getAttribute("data-id");
            row.remove(); 

            try {
                const response = await fetch(`/delete-artist/${artistId}`, {
                    method: 'DELETE',
                });
            } catch (error) {
                console.error("Error:", error);
            }
        });
    });
});
</script>

