<div class="container">
    <h2>List of Vendors available at a Concert</h2>
        <table>
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                    <th colspan="2">Actions</th>
                </tr>
            </thead>           
        
            <tbody>
                {{#each data}}
                    <tr>
                        <td>{{ this.concertVendorID }}</td>
                        <td>{{ this.vendorID }}</td>
                        <td>{{ this.concertID }}</td>
                        <td><a href="/artists">Edit</a></td>
                        <td><a href="#" class="delete-row">Delete</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <!-- Add Form -->
        <h3>Add an Vendor available at a Concert</h3>
        <p>To add a new vendor available at a concert, please enter the vendors' name and concert location below then click 'Add Vendor Available at a Concert' !</p>
        <form id="add-vendor-at-concert-form" action="/add-vendor-at-concert-form" method="POST">
            <label for="artistName">VendorName Available at a Concert:</label>
            <input type="text" id="vendorName" name="vendorName" placeholder="Enter Vendors' Name: " required><br>

            <label for="concertLocation">Concert Location (Zip-Code):</label>
            <input type="number" id="concertLocation" name="concertLocation" placeholder="Enter Concert Location: " required><br>

            <input type="submit" value="Add Vendor Available at a Concert">
        </form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const deleteLinks = document.querySelectorAll('.delete-row');

    deleteLinks.forEach(function(deleteLink) {
        deleteLink.addEventListener('click', function(event) {
            event.preventDefault();
            const row = event.target.closest('tr');
                row.remove();
        });
    });
});
</script>