<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANL-Live Management</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header', { title: 'Welcome to ANL Live Concert Management System!' }) %>
    <%- include('partials/nav') %>

    <div class="container">
        <h2>Welcome to our management system!</h2>
    </div>
</body>
</html>
